* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url(''), auto;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 100100000000000000000000000000000000000;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

*::-webkit-scrollbar {
    height: 12px;
    max-width: 12px;
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(to bottom, #0000FF, #42AAFF, #42AAFF, #78DBE2);
}

.wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
}

.navbar {
    background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
    margin-bottom: -70px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(6px);
    z-index: 5;
}

.test {
    width: 100%;
    z-index: 9999;
    position: fixed !important;
}

.background-main-phone {
    background: url(./img/background-main-whitout-effects.png);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.background-main-phone-2 {
    background-image: url(./img/back-img-main-2.png);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img-group-nav {
    margin-left: -5px;
}

.nav-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    max-width: 200px;
}

.img-icon-1 {
    margin-top: -8px;
}

.img-icon-1,
.img-icon-2 {
    opacity: 0.82;
}

.ul-flex {
    display: flex;
    margin-left: 152px;
}

.li-katalog,
.li-divelery {
    margin-left: 38px;
    margin-top: 10px;
}

.button-nav {
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #10EBF8;
    background: rgba(11, 34, 75, 0.26);
    border: 2px solid #10EBF8;
    border-radius: 2px;
    height: 40px;
    width: 151px;
    transition: .5s;
}

.button-nav:hover {
    background: #10EBF8;
    transition: .5s;
    color: black;
    border: 3px solid #78DBE2;
}

.li-btn {
    margin-left: 82px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 229px;
    height: 239px;
    margin-left: -20px;
    background: #EEF4F9;
    border: 1px solid #E3EBF2;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding-left: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.li-drop {
    margin-left: 22px;
    margin-top: -7px;
}

.img-arrow {
    margin-left: 10px;
}

.a-drop {
    font-weight: 600;
    font-size: 14px;
    color: #191919;
}

.a-drop:hover {
    color: #191919;
}

.p-drop {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.62);
    margin-top: 2px;
}

.p-drop-2 {
    margin-top: 14px;
}

.p-drop:hover {
    color: rgba(0, 0, 0, 0.62);
}

.phons {
    margin-top: 4px;
}

.liner-drop {
    margin: 0 auto;
    width: 176px;
    height: 0px;
    border-bottom: 0.01px solid #CCD7E1;
    margin-top: 19px;
}

.a-drop-top {
    margin-top: 5px;
}

.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #10EBF8;
    transition: width .3s;
    padding-top: 5px;
    margin-top: 5px;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.img-last-nav-li {
    margin-left: 53px;
}

.navbar-toggler {
    border: none !important;
    color: transparent !important;
}

.navbar-toggler-icon {
    width: 30px;
    height: 25px;
}

.img-last-nav {
    margin-top: 2px;
}

@media(max-width: 1160px) {
    .ul-flex {
        margin-left: 100px;
    }
}

@media(max-width: 1110px) {
    .ul-flex {
        margin-left: 52px;
    }
}


@media(max-width: 1060px) {
    .ul-flex {
        margin-left: 70px;
    }

    .li-katalog,
    .li-divelery {
        margin-left: 28px;
        margin-top: 10px;
    }

    .li-btn {
        margin-left: 32px;
    }

    .img-last-nav-li {
        margin-left: 33px;
    }
}

@media(max-width: 995px) {
    .ul-flex {
        margin-left: 20px;
    }
}

@media(max-width: 937px) {

    .li-katalog,
    .li-divelery {
        display: none;
    }

    .li-btn {
        margin-left: 200px;
    }
}

@media(max-width: 859px) {

    .li-btn {
        margin-left: 150px;
    }
}

@media(max-width: 808px) {
    .li-btn {
        margin-left: 100px;
    }
}

@media(max-width: 770px) {
    .li-btn {
        margin-left: 50px;
    }
}

@media(max-width: 710px) {
    .li-btn {
        display: none;
    }

    .li-drop {
        margin-left: 180px;
    }
}

@media(max-width: 670px) {
    .li-drop {
        margin-left: 120px;
    }
}

@media(max-width: 607px) {
    .li-drop {
        margin-left: 70px;
    }
}

@media(max-width: 553px) {
    .li-drop {
        margin-left: 20px;
    }
}

@media(max-width: 513px) {
    .li-drop {
        display: none;
    }

    .img-last-nav-li {
        position: absolute;
        right: 0px;
        margin-top: -25px;
        margin-right: 70px;
    }
}


.navbar-collapse {
    background: url(./img/nav-back-v2.png) no-repeat;
    width: 100%;
    background-size: cover;
    height: 445px;
    position: absolute;
    z-index: 9999999;
}

.ul-flex-invis {
    opacity: 0;
    display: flex;
}

.wrper-nav-intonav-div {
    margin-top: 127px;
}

.nav-a-katalog-norm {
    margin-left: -25px;
}

.span-color-nav-2 {
    font-weight: 600;
    font-size: 24px;
    color: #FFFDFD;
    padding-left: 14px;
}

.span-color-nav-2,
.span-color-nav-2-no-name:hover {
    color: #fffdfde1;
}

.span-color-nav-2-no-name {
    font-weight: 400;
    font-size: 20px;
    color: #FFFDFD;
    text-decoration: none;
    margin-left: -10px;
    margin-top: 10px;
    line-height: 35px;
}

.span-color-nav-2-no-name-first-bottom {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.62);
}

.div-phone-numbers-flex {
    display: flex;
    flex-wrap: wrap;
}

.div-left-2 {
    margin-left: 40px;
}

.div-2-nuber {
    margin-left: -50px;
}

@media(max-width: 1190px) {
    .div-left-2 {
        margin-left: 0px;
    }

    .div-phone-numbers-flex {
        display: block;
    }
}

@media(max-width: 780px) {
    .div-2-nuber {
        margin-left: 0px;
    }
}

@media(max-width: 707px) {
    .div-left-2 {
        margin-left: 0px;
    }

    .div-2-nuber {
        margin-left: 0px;
    }
}

.h2-carousel {
    font-weight: 700;
    font-size: 58px;
    line-height: 57px;
    color: #FFFFFF;
    margin-top: 188px;
}

.p-carousel {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 15px;
}

.button-carousel {
    background: #10EBF8;
    border-radius: 2px;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
    width: 252px;
    height: 65px;
    padding-left: 80px;
    margin-top: 62px;
    border: none;
}

.button-carousel:hover {
    color: #10EBF8;
    background: transparent;
    border: #10EBF8 2px solid;
    transition: .5s;
    box-shadow: 1px 1px 5px 5px #10edf886;
}

.waws-back {
    background: url(./img/line-white-1.png);
    height: 69px;
    width: 100%;
    margin-top: -55px;
    z-index: 6;
    position: relative;
    background-size: cover;
    background-repeat: none;
}

.carousel-control-next {
    opacity: 1 !important;
}

.div-back-arrow {
    width: 68px;
    height: 65.52px;
    background: rgba(8, 24, 53, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}

.ramka-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 8px solid #337AB7;
    background: #BFE2FF;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: anim-ramka-1 5s infinite;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    transition: .8s;
}

.ramka-1:hover {
    border: 8px solid #BFE2FF;
    background: #3379b7aa;
    transition: .8s;
}

@keyframes anim-ramka-1 {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

.img-cuo-water {
    width: 442.27px;
    height: 476.47px;
}

.filter-water-img {
    width: 246.03px;
    height: 457.86px;
}

.h3-wter {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #044988;
}

.div-h3-icon {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: -150px;
    margin-left: 320px;
}

.flex-secyion-2 {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    min-height: 455px;
}

.div-section-filter {
    margin-left: 134px;
}

.icon-water {
    width: 59px;
    height: 59px;
    margin-top: 5px;
}

.div-h3-icon-2 {
    margin-left: 260px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: -150px;
}

@media (max-width:1154px) {
    .div-h3-icon-2 {
        margin-left: 200px;
    }
}

@media (max-width:1082px) {
    .img-cuo-water {
        width: 382.27px;
        height: 414.47px;
    }

    .filter-water-img {
        width: 184.03px;
        height: 397.86px;
    }

}

@media (max-width:1026px) {

    .div-h3-icon-2 {
        margin-left: 130px;
    }

    .div-h3-icon {
        margin-left: 280px;
    }
}

@media (max-width: 953px) {
    .img-cuo-water {
        width: 322.27px;
        height: 354.47px;
    }

    .filter-water-img {
        width: 124.03px;
        height: 337.86px;
        margin-left: 30px;
    }

    .div-h3-icon-2 {
        margin-left: 120px;
    }

    .div-h3-icon {
        margin-left: 250px;
    }

    .flex-secyion-2 {
        min-height: 355px;
    }
}

@media (max-width: 880px) {
    .img-cuo-water {
        width: 302.27px;
        height: 334.47px;
    }

    .filter-water-img {
        width: 104.03px;
        height: 317.86px;
        margin-left: 30px;
    }

    .div-h3-icon-2 {
        margin-left: 110px;
    }

    .div-h3-icon {
        margin-left: 230px;
    }

    .icon-water {
        width: 49px;
        height: 49px;
    }

    .h3-wter {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    .flex-secyion-2 {
        padding-left: 20px;
    }
}

@media (max-width: 763px) {
    .img-cuo-water {
        max-width: 163.15px;
        height: 175.76px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .filter-water-img {
        max-width: 79.71px;
        height: 148.33px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 100%;
    }

    .flex-secyion-2 {
        display: block;
        padding-left: 0;
    }

    .div-section-filter {
        margin-left: 0;
    }

    .h3-wter {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
    }

    .div-h3-icon {
        position: relative;
        margin: 0 auto;
        max-width: 200px;
        padding-left: 10px;
    }

    .h3-wter-adaprive {
        padding-top: 12px;
    }

    .div-h3-icon-2 {
        position: relative;
        margin: 0 auto;
        max-width: 200px;
        padding-left: 10px;
    }


    .br-none {
        display: none
    }

    .icon-water {
        max-width: 39px;
        height: 39px;
        width: 100%;
        margin-left: 10px;
    }
}

@media(max-width: 531px) {

    .carousel-control-next,
    .ramka-1 {
        display: none;
    }

    .h2-carousel {
        font-size: 38px;
        font-weight: 600;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 158px;
    }

    .background-main-phone {
        height: 550px;
    }

    .background-main-phone-2 {
        height: 550px;
    }
}

@media(max-width: 418px) {
    .ramka-1 {
        display: none;
    }

    .h2-carousel {
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        color: #FFFFFF;
        margin-top: 83px;
        border: 1px black solid;
    }

    .p-carousel {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }

    .button-carousel {
        background: #10EBF8;
        border-radius: 2px;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
        color: #191919;
        max-width: 145px;
        height: 40px;
        padding-left: 36px;
        margin-top: 38px;
    }

    .navbar {
        background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0.19);
        backdrop-filter: blur(6px);
    }

    .img-group-nav {
        width: 80px;
        height: 34px;
    }

    .background-main-phone {
        height: 380px;
        max-width: 418px;
    }

    .background-main-phone-2 {
        height: 380px;
        max-width: 418px;
    }


}

@media(max-width: 1190px) {
    .waws-back {
        background: url(./img/line-white-1.png);
        height: 69px;
        max-width: 1190px;
        width: 100%;
        margin-top: -55px;
        z-index: 6;
        position: relative;
        background-repeat: none;
    }
}
@media(max-width: 710px){
    .wrper-nav-intonav-div{
        display: none;
    }
    .navbar-collapse {
        background: white;
    }
    .adaptive-wrper-nav-intonav-div{
        display: block;
    }
    .bfwfuwhue9fwhf{
        display: block;
    }
}
.adaptive-wrper-nav-intonav-div{
    display: none;
}
.bfwfuwhue9fwhf{
    display: none;
}