* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url('./img/cursor.png'), auto;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 100100000000000000000000000000000000000;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

*::-webkit-scrollbar {
    height: 0.000001px;
    max-width: 0.00000001px;
    background: rgba(0, 0, 0, 0);
}

.wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
}

.navbar {
    background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
    margin-bottom: -70px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(6px);
    z-index: 5;
}

.test {
    width: 100%;
    z-index: 9999;
    position: fixed !important;
}

.background-main-phone {
    background: url(./img/background-main-whitout-effects.png);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.background-main-phone-2 {
    background-image: url(./img/back-img-main-2.png);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img-group-nav {
    margin-left: -5px;
}

.nav-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    max-width: 200px;
}

.img-icon-1 {
    margin-top: -8px;
}

.img-icon-1,
.img-icon-2 {
    opacity: 0.82;
}

.ul-flex {
    display: flex;
    margin-left: 152px;
}

.li-katalog,
.li-divelery {
    margin-left: 38px;
    margin-top: 10px;
}

.button-nav {
    font-weight: 700;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #10EBF8;
    background: rgba(11, 34, 75, 0.26);
    border: 2px solid #10EBF8;
    border-radius: 2px;
    height: 40px;
    width: 151px;
    transition: .5s;
}

.button-nav:hover {
    background: #10EBF8;
    transition: .5s;
    color: black;
    border: 3px solid #78DBE2;
}

.li-btn {
    margin-left: 82px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 229px;
    height: 239px;
    margin-left: -20px;
    background: #EEF4F9;
    border: 1px solid #E3EBF2;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding-left: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.li-drop {
    margin-left: 22px;
    margin-top: -7px;
}

.img-arrow {
    margin-left: 10px;
}

.a-drop {
    font-weight: 600;
    font-size: 14px;
    color: #191919;
}

.a-drop:hover {
    color: #191919;
}

.p-drop {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.62);
    margin-top: 2px;
}

.p-drop-2 {
    margin-top: 14px;
}

.p-drop:hover {
    color: rgba(0, 0, 0, 0.62);
}

.phons {
    margin-top: 4px;
}

.liner-drop {
    margin: 0 auto;
    width: 176px;
    height: 0px;
    border-bottom: 0.01px solid #CCD7E1;
    margin-top: 19px;
}

.a-drop-top {
    margin-top: 5px;
}

.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #10EBF8;
    transition: width .3s;
    padding-top: 5px;
    margin-top: 5px;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.img-last-nav-li {
    margin-left: 53px;
}

.navbar-toggler {
    border: none !important;
    color: transparent !important;
}

.navbar-toggler-icon {
    width: 30px;
    height: 25px;
}

.img-last-nav {
    margin-top: 2px;
}

@media(max-width: 1160px) {
    .ul-flex {
        margin-left: 100px;
    }
}

@media(max-width: 1110px) {
    .ul-flex {
        margin-left: 52px;
    }
}


@media(max-width: 1060px) {
    .ul-flex {
        margin-left: 70px;
    }

    .li-katalog,
    .li-divelery {
        margin-left: 28px;
        margin-top: 10px;
    }

    .li-btn {
        margin-left: 32px;
    }

    .img-last-nav-li {
        margin-left: 33px;
    }
}

@media(max-width: 995px) {
    .ul-flex {
        margin-left: 20px;
    }
}

@media(max-width: 937px) {

    .li-katalog,
    .li-divelery {
        display: none;
    }

    .li-btn {
        margin-left: 200px;
    }
}

@media(max-width: 859px) {

    .li-btn {
        margin-left: 150px;
    }
}

@media(max-width: 808px) {
    .li-btn {
        margin-left: 100px;
    }
}

@media(max-width: 770px) {
    .li-btn {
        margin-left: 50px;
    }
}

@media(max-width: 710px) {
    .li-btn {
        display: none;
    }

    .li-drop {
        margin-left: 180px;
    }
}

@media(max-width: 670px) {
    .li-drop {
        margin-left: 120px;
    }
}

@media(max-width: 607px) {
    .li-drop {
        margin-left: 70px;
    }
}

@media(max-width: 553px) {
    .li-drop {
        margin-left: 20px;
    }
}

@media(max-width: 513px) {
    .li-drop {
        display: none;
    }

    .img-last-nav-li {
        position: absolute;
        right: 0px;
        margin-top: -25px;
        margin-right: 70px;
    }
}


.navbar-collapse {
    background: url(./img/nav-back-v2.png) no-repeat;
    width: 100%;
    background-size: cover;
    height: 445px;
    position: absolute;
    z-index: 9999999;
}

.ul-flex-invis {
    opacity: 0;
    display: flex;
}

.wrper-nav-intonav-div {
    margin-top: 127px;
}

.nav-a-katalog-norm {
    margin-left: -25px;
}

.span-color-nav-2 {
    font-weight: 600;
    font-size: 24px;
    color: #FFFDFD;
    padding-left: 14px;
}

.span-color-nav-2,
.span-color-nav-2-no-name:hover {
    color: #fffdfde1;
}

.span-color-nav-2-no-name {
    font-weight: 400;
    font-size: 20px;
    color: #FFFDFD;
    text-decoration: none;
    margin-left: -10px;
    margin-top: 10px;
    line-height: 35px;
}

.span-color-nav-2-no-name-first-bottom {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.62);
}

.div-phone-numbers-flex {
    display: flex;
    flex-wrap: wrap;
}

.div-left-2 {
    margin-left: 40px;
}

.div-2-nuber {
    margin-left: -50px;
}

@media(max-width: 1190px) {
    .div-left-2 {
        margin-left: 0px;
    }

    .div-phone-numbers-flex {
        display: block;
    }

}

@media(max-width: 780px) {
    .div-2-nuber {
        margin-left: 0px;
    }
}

@media(max-width: 707px) {
    .div-left-2 {
        margin-left: 0px;
    }

    .div-2-nuber {
        margin-left: 0px;
    }
}

.h2-carousel {
    font-weight: 700;
    font-size: 58px;
    line-height: 57px;
    color: #FFFFFF;
    margin-top: 188px;
}

.p-carousel {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 15px;
}

.button-carousel {
    background: #10EBF8;
    border-radius: 2px;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
    width: 252px;
    height: 65px;
    padding-left: 80px;
    margin-top: 62px;
    border: none;
    outline: none;
}

.button-carousel:hover {
    color: #10EBF8;
    background: transparent;
    border: #10EBF8 2px solid;
    transition: .5s;
    box-shadow: 1px 1px 5px 5px #10edf886;
    outline: none;
}

.waws-back {
    background: url(./img/line-white-1.png);
    height: 69px;
    width: 100%;
    margin-top: -55px;
    z-index: 6;
    position: relative;
    background-size: cover;
    background-repeat: none;
}

.carousel-control-next {
    opacity: 1 !important;
}

.div-back-arrow {
    width: 68px;
    height: 65.52px;
    background: rgba(8, 24, 53, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 50px;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}

.ramka-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 8px solid #337AB7;
    background: #BFE2FF;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: anim-ramka-1 5s infinite;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    transition: .8s;
}

.ramka-1:hover {
    border: 8px solid #BFE2FF;
    background: #3379b7aa;
    transition: .8s;
}

@keyframes anim-ramka-1 {
    0% {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }

    25% {
        border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }

    75% {
        border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
    }
}

.img-cuo-water {
    width: 442.27px;
    height: 476.47px;
}

.filter-water-img {
    width: 246.03px;
    height: 457.86px;
}

.h3-wter {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    color: #044988;
}

.div-h3-icon {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: -150px;
    margin-left: 320px;
}

.flex-secyion-2 {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    min-height: 455px;
    padding-bottom: 10px;
}

.div-section-filter {
    margin-left: 134px;
}

.icon-water {
    width: 59px;
    height: 59px;
    margin-top: 8px;
    margin-left: 10px;
}

.div-h3-icon-2 {
    margin-left: 260px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: -150px;
}

@media (max-width:1154px) {
    .div-h3-icon-2 {
        margin-left: 200px;
    }
}

@media (max-width:1082px) {
    .img-cuo-water {
        width: 382.27px;
        height: 414.47px;
    }

    .filter-water-img {
        width: 184.03px;
        height: 397.86px;
    }

}

@media (max-width:1026px) {

    .div-h3-icon-2 {
        margin-left: 130px;
    }

    .div-h3-icon {
        margin-left: 280px;
    }
}

@media (max-width: 953px) {
    .img-cuo-water {
        width: 322.27px;
        height: 354.47px;
    }

    .filter-water-img {
        width: 124.03px;
        height: 337.86px;
        margin-left: 30px;
    }

    .div-h3-icon-2 {
        margin-left: 120px;
    }

    .div-h3-icon {
        margin-left: 250px;
    }

    .flex-secyion-2 {
        min-height: 355px;
    }
}

@media (max-width: 880px) {
    .img-cuo-water {
        width: 302.27px;
        height: 334.47px;
    }

    .filter-water-img {
        width: 104.03px;
        height: 317.86px;
        margin-left: 30px;
    }

    .div-h3-icon-2 {
        margin-left: 110px;
    }

    .div-h3-icon {
        margin-left: 230px;
    }

    .icon-water {
        width: 49px;
        height: 49px;
    }

    .h3-wter {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    .flex-secyion-2 {
        padding-left: 20px;
    }
}

@media (max-width: 763px) {
    .img-cuo-water {
        max-width: 163.15px;
        height: 175.76px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .filter-water-img {
        max-width: 79.71px;
        height: 148.33px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 100%;
    }

    .flex-secyion-2 {
        display: block;
        padding-left: 0;
    }

    .div-section-filter {
        margin-left: 0;
    }

    .h3-wter {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
    }

    .div-h3-icon {
        position: relative;
        margin: 0 auto;
        max-width: 200px;
        padding-left: 10px;
    }

    .h3-wter-adaprive {
        padding-top: 12px;
    }

    .div-h3-icon-2 {
        position: relative;
        margin: 0 auto;
        max-width: 200px;
        padding-left: 10px;
    }


    .br-none,
    .br-none-2 {
        display: none
    }

    .icon-water {
        max-width: 39px;
        height: 39px;
        width: 100%;
        margin-left: 10px;
    }
}

@media(max-width: 531px) {

    .carousel-control-next,
    .ramka-1 {
        display: none;
    }

    .h2-carousel {
        font-size: 38px;
        font-weight: 600;
        line-height: 40px;
        color: #FFFFFF;
        margin-top: 158px;
    }

    .background-main-phone {
        height: 550px;
    }

    .background-main-phone-2 {
        height: 550px;
    }
}

@media(max-width: 418px) {
    .ramka-1 {
        display: none;
    }

    .h2-carousel {
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        color: #FFFFFF;
        margin-top: 123px;
    }

    .p-carousel {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }

    .button-carousel {
        background: #10EBF8;
        border-radius: 2px;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
        color: #191919;
        max-width: 145px;
        height: 40px;
        padding-left: 36px;
        margin-top: 38px;
        outline: none;
        border: none;
    }

    .navbar {
        background: linear-gradient(180deg, #1950B4 0%, rgba(43, 98, 198, 0) 92.95%);
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0.19);
        backdrop-filter: blur(6px);
    }

    .img-group-nav {
        width: 80px;
        height: 34px;
    }

    .background-main-phone {
        height: 380px;
        max-width: 418px;
    }

    .background-main-phone-2 {
        height: 380px;
        max-width: 418px;
    }

}

@media(max-width: 1190px) {
    .waws-back {
        background: url(./img/line-white-1.png);
        height: 69px;
        max-width: 1190px;
        width: 100%;
        margin-top: -50px;
        z-index: 6;
        position: relative;
        background-repeat: no-repeat;
    }

    .waws-back-but-another {
        height: 69px;
        max-width: 1190px;
        width: 100%;
        margin-top: -50px;
        z-index: 6;
        position: relative;
        background-repeat: no-repeat;
    }
}

@media(max-width: 705px) {
    .wrper-nav-intonav-div {
        display: none;
    }

    .navbar-collapse {
        background: white;
        height: auto;
    }

    .p-email {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.90;
        color: #5B5B5B;
        text-align: center;
        margin-top: 7px;
    }

    .div-nav-adaptive {
        display: block !important;
        padding-top: 98px;
    }

    .dropbtn-222 {
        background-color: white;
        color: black;
        cursor: pointer;
        border: none;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        margin: 0 auto !important;
        width: 100%;
    }

    .dropdown-222 {
        position: relative;
        display: inline-block;
        margin: 0 auto !important;
        width: 100%;
    }

    .dropdown-content-222 {
        display: none;
        overflow: auto;
        z-index: 1;
        width: 229px;
        height: 239px;
        margin: 0 auto;
        background: #EEF4F9;
        border: 1px solid #E3EBF2;
        border-radius: 2px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding-left: 25px;
        padding-top: 20px;
        margin-top: 10px;
    }

    .dropdown-content-222 a {
        color: black;
        text-decoration: none;
        display: block;
    }

    .show {
        display: block;
    }

    .h3-katlog-adap {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #044988;
        border: 1px solid #E7E7E7;
        padding-left: 13px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .blue-img {
        margin-top: -10px;
        padding-right: 10px;
    }

    .h3-katlog-adap-22 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #044988;
        margin-left: -5px;
    }

    .blue-img-22 {
        margin-top: -10px;
        padding-right: 10px;
        margin-bottom: -10px;
    }

    .h3-after-accor {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #191919;
        padding-left: 10px;
        border-top: 1px solid #E7E7E7;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .accordion-button:focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        background: none !important;
    }

    .p-accordion {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #5B5B5B;
        border-top: 1px solid #E7E7E7;
        padding-top: 15px;
        padding-bottom: 2px;
    }
}

.waws-back-but-another {
    transform: rotate(180deg);
    background: url(./img/line-white-1.png);
    height: 69px;
    width: 100%;
    z-index: 6;
    margin-top: -10px;
    position: absolute;
    background-size: cover;
    background-repeat: none;

}

.div-backsectiopn-3 {
    background: url(./img/back-img-22.png);
    width: 100%;
    height: 511px;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
}

.section-two-right {
    float: right;
    margin-right: 10%;
    margin-top: 51px;
}

.h2-helth {
    margin-top: 22px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    max-width: 370px;

}

.p-offis {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 312px;
    color: #FFFFFF;
    opacity: 0.82;
    margin-left: 16px;
    margin-top: 5px;
}

.img-sec-3 {
    width: 34px;
    height: 41.12px;
}

.div-flex-img-p {
    display: flex;
    flex-wrap: wrap;
}

.h2-cash {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    color: #FFFFFF;
}

.span-cash {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
}

.button-carousel-develery {
    padding-left: 38px;
    padding-top: 5px;
    outline: none;
    margin-top: 37px;
}

@media (max-width: 418px) {
    .button-carousel-develery {
        padding-left: 5px;
        padding-top: 5px;
        outline: none;
        margin-top: 37px;
    }
}

@media (max-width: 1001px) {
    .section-two-right {
        float: right;
        margin-right: 4%;
        margin-top: 51px;
        background: rgb(0, 0, 0, 0.6);
        height: 511px;
        padding-top: 70px;
        margin-top: 0;
        padding-left: 30px;
        padding-right: 10px;
    }
}

@media (max-width: 497px) {
    .section-two-right {
        margin-right: 0;
        margin-top: 51px;
        background: rgb(0, 0, 0, 0.6);
        height: 511px;
        width: 100%;
        padding-top: 70px;
        margin-top: 0;
        margin: 0 auto;
        padding-right: 0px;
        margin-left: -10px;
        position: absolute;
    }
}

@media (max-width: 405px) {
    .section-two-right {
        float: right;
        margin-right: 0;
        margin-top: 51px;
        background: rgb(0, 0, 0, 0.01);
        height: 511px;
        width: 100%;
        padding-top: 70px;
        margin-top: 0;
        margin: 0 auto;
        padding-right: 0px;
    }

    .div-backsectiopn-3 {
        background: url(./img/change-back-22.png);
    }
}

@media (max-width: 421px) {
    .section-two-right {
        float: right;
        margin-right: 0;
        margin-top: 0px;
        background: none;
        width: 100%;
        height: 165px;
        padding-top: 0px;
        margin-top: 0px;
        margin: 0 auto;
        padding-right: 0px;
        margin-left: -10px;
    }

    .div-backsectiopn-3 {
        background: url(./img/kuplya-back-22.png);
        width: 100%;
        height: 331.76px;
        background-size: cover;
        background-repeat: none;
        background-position: center center;
    }

    .section-two-right {
        float: right;
        margin-right: 10%;
        margin-top: 81px;
    }

    .h2-helth {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        max-width: 262px;
        padding-left: 10px;
    }

    .p-offis {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        max-width: 312px;
        margin-left: 16px;
        margin-top: 2px;
    }

    .img-sec-3 {
        width: 22.42px;
        height: 27.12px;
        padding-left: 10px;
    }

    .div-flex-img-p {
        display: flex;
        flex-wrap: nowrap;
    }

    .h2-cash {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 10px;
    }

    .span-cash {
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
    }

    .button-carousel-develery {
        padding-top: 5px;
        outline: none;
        margin-top: 13px;
        max-width: 177px;
        height: 40px;
        padding-left: 16.5px;
        margin: 0 auto;
        position: relative;
        right: 15px;
    }

    .img-mask-group {
        display: block !important;
        width: 100%;
        margin-top: -2px;
    }
}

.div-nav-adaptive,
.img-mask-group,
.small-human {
    display: none;
}

.div-back-of-section-4 {
    background: #E8F2FF;
}

.div-section-4 {
    background: #E8F2FF;
    width: 100%;
    background: url(./img/ыгнгь-лфзднф.png) 665px 599px no-repeat;
    background-position: center center;
    min-height: 719px;
    padding-top: 20px;
}

.div-hidden-sec-4 {
    opacity: 0;
}

.div-sec-4 {
    display: flex;
}

.img-sec-4 {
    width: 75px;
    height: 75px;
    margin-top: 116px;
}

.p-sec-4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #191919;
    height: 70px;
    margin-top: 10px;
    margin-left: 21px;
    margin-top: 116px;
}

.span-sec-4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

@media (max-width: 816px) {
    .div-hidden-sec-4 {
        display: none;
    }
}

@media (max-width: 501px) {
    .img-sec-4 {
        width: 50px !important;
        height: 50px !important;
        margin-top: 0px;
    }

    .p-sec-4-22 {
        margin-left: 16px !important;
    }

    .p-sec-4-33333 {
        padding-left: 5px !important;
    }

    .p-sec-4 {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #191919;
        height: auto;
        margin-top: 10px;
        margin-left: 21px;
    }

    .div-section-4 {
        background: #E8F2FF;
        width: 100%;
        background: url(./img/jnvfwnfjnwfj.png) no-repeat;
        background-position: center center;
        min-height: 701px;
        padding-top: 70px;
    }

    .div-col-right-33 {
        margin-top: 300px;
    }

    .div-col-right-3333 {
        padding-bottom: 50px;
    }

    .p-sec-4-666 {
        margin-left: 25px;
    }

    .p-sec-4-555 {
        margin-left: 17px;
    }

    .p-sec-4-444 {
        margin-left: 28px;
    }
}

.h2-proccer {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #191919;
    margin-top: 84px;
}

.margin-center-sec-5 {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.a-products {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #044988;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.p-filter {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #585858;
    margin-top: 40px;
}

.img-nsos {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.div-flex-and-warp {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.img-nsos-1 {
    margin-left: 40px;
}

.img-nsos-2 {
    margin-top: 100px;
}

.img-nsos-3 {
    margin-left: 15px;
    margin-top: 70px;
}

.img-nsos-4 {
    margin-left: 45px;
    padding-top: 5px;

}

.img-nsos-5 {
    margin-left: 55px;
    padding-top: 40px;
}

@media (max-width: 495px) {
    .h2-proccer {
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        line-height: 28px;
    }
}

.img-vector {
    position: absolute;
    max-width: 941px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.vectyor-2 {
    position: absolute;
    max-width: 941px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 865px) {
    .vectyor-2 {
        margin-top: 500px;
    }
}

@media(max-width: 496px) {
    .vectyor-2 {
        margin-top: 800px;
    }
}

@media (max-width: 500px) {

    .div-flex-and-warp {
        display: block;
        padding-right: 10px;
    }

    .img-nsos {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .a-products {
        margin-bottom: -30px;
    }

    .p-filter {
        margin-top: 20px;
    }

    .vectyor-2,
    .img-vector {
        display: none;
    }

}

@media (max-width: 260px) {
    .h2-proccer {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        margin-top: 30px;
    }
}

.leafs {
    position: absolute;
    left: 0rem;
    margin-top: -130px;
}

@media (max-width: 1020px) {
    .leafs {
        display: none;
    }
}

.div-sec-6 {
    background: url(./img/sec-5.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 617px;
    background-size: cover;
    margin-top: 80px;
    padding-bottom: 50px;
}

.button-nav-sells {
    width: 252px;
    height: 65px;
    margin-top: 30px;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.warapper-sec-6 {
    padding-right: 10px;
}

.p-sells-2 {
    max-width: 583px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.p-sesls {
    max-width: 607px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 35px;
}

.h2-sels {
    padding-top: 84px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    max-width: 577px;
}

@media (max-width: 460px) {
    .div-sec-6 {
        background: url(./img/sec-5.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-height: 517px;
        background-size: cover;
        margin-top: 80px;
        padding-bottom: 50px;
    }

    .button-nav-sells {
        max-width: 164px;
        height: 40px;
        margin-top: 10px;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
    }

    .p-sells-2 {
        max-width: 300px;
        font-size: 16px;
        line-height: 18px;
        margin-top: 15px
    }

    .p-sesls {
        max-width: 300px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
    }

    .h2-sels {
        padding-top: 40px;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        max-width: 300px;
    }
}

.wrapper-sec-7 {
    padding-top: 73px;
}

.img-develary {
    display: flex;
    justify-content: center;
}

.img-develary-1 {
    max-width: 183.57px;
    height: 153.01px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.img-develary-2 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 180.75px;
    height: 149.71px;
    margin-top: 13px;
}

.img-develary-3 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 216.92px;
    height: 195.31px;
}

.img-develary-4 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 168.03px;
    height: 153.56px;
    margin-top: 10px;
}

.h4-develary {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 22px;
    color: #191919;
    max-width: 184px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.p-develary {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #585858;
    max-width: 249px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.div-section-8 {
    background: url(./img/points.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;
    min-height: 563px;
    padding-right: 10px;
}

.but-another-one {
    margin-top: 65px;
}

.a-sec-8 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1370C6;
    text-decoration: underline;
}

.margin-con-top {
    margin-top: 60px;
}

.img-water-ball {
    position: absolute;
    right: 0;
}

@media (max-width: 1020px) {
    .img-water-ball {
        display: none;
    }
}

.section-10-div {
    background: linear-gradient(180deg, #016FAD 0%, #004C77 100%);
    min-height: 657px;
}

.div-wrap-flex {
    display: flex;

}

.img-human {
    margin-top: 37px;
    position: absolute;
}

.h2-sels-but-another {
    max-width: 596px !important;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: white;
}

.content {
    margin-top: 55px;
    margin-left: 600px;
}


@media (max-width: 1190px) {
    .content {
        position: absolute;
        right: 0;
        margin-left: 0;
    }
}

@media (max-width: 636px) {
    .content {
        position: relative;
        margin-top: 46px;
    }

    .h2-sels-but-another {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
    }

    .img-human {
        margin-top: 17px;
        max-width: 636px;
        height: 557px;
        position: absolute;
    }

    .section-10-div {
        background: linear-gradient(180deg, #016FAD 0%, #004C77 100%);
        min-height: 557px;
    }

}

@media (max-width: 545px) {
    .img-human {
        display: none;
    }

    .small-human {
        display: block !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: 21px;
    }

}

.stats {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #191919;
    margin-top: 67px;
}

.div-img-state {
    display: flex;
    margin-top: 29px;
}

.img-state {
    width: 12px;
    height: 10px;
    margin-top: 5px;
}

.p-state {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 7px;
    color: #B1B1B1;

}

@media (max-width: 300px) {
    .ma-with-change {
        width: 200px;
        height: 143.99px;
    }
}

@media (max-width: 370px) {
    .ma-with-change {
        max-width: 250px;
        height: 143.99px;
        margin-top: 30px;
    }

    .h4-state {
        font-weight: 700;
        font-size: 18px !important;
        line-height: 18px;
        max-width: 298.68px;
        margin-top: 0px;
        min-height: 13px;
    }

    .last-p-state {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 20px;
        max-width: 352px;
        min-height: 99px;
        color: #585858;
        margin-top: 0px !important;
    }

    .p-state {
        font-weight: 400;
        font-size: 14px;
        line-height: 10px;
        margin-left: 7px;
        color: #B1B1B1;
    }

    .margin-top-vontainer {
        margin-top: 43px;
    }

}

.h4-state {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #044988;
    max-width: 347px;
    margin-top: 13px;
    height: 67px;
}

.last-p-state {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    max-width: 352px;
    height: 99px;
    color: #585858;
    margin-top: 37px;
}

.margin-top-vontainer {
    margin-top: 43px;
}

.last-end-div {
    background: url(./img/last-div.png);
    min-height: 477px;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 139px;
    padding-top: 72px;
    background-position: center center;
}


.img-icons-end {
    padding-right: 10px;
    padding-bottom: 8px;
}

.p-con-devel {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFDFD;
}

.p-non-con {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFDFD;
}

.div-1 {
    width: 300px;
    margin-left: 50px;
}

.div-2 {
    width: 300px;
}

@media (max-width: 1084px) {
    .div-1 {
        width: 200px;
        margin-left: 50px;
    }

    .div-2 {
        width: 200px;
    }

    .div-3 {
        margin-left: 20px;
    }
}

@media (max-width: 890px) {
    .iiuewfe {
        display: block !important;
    }

    .div-1 {
        max-width: 200px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .div-2 {
        max-width: 200px;
        margin-left: 10px;
    }

    .div-3 {
        margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .email {
        font-size: 14px;
    }
}

.iiuewfe {
    display: flex;
}

.decoration-none {
    text-decoration: none;
}

.warapper-sec-6-another {
    margin-top: 127px;
}

.button-to-main {
    width: 74px;
    height: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(4, 73, 136, 0.57);
    border: none;
    outline: none;
    position: absolute;
    background: none;
    margin-top: -28px;
    border: 2px solid rgba(4, 73, 136, 0.57);
}

.modal-dialog {
    width: 984px !important;
    min-height: 784px;
    margin: 0 auto;
}

.h2-proccer-modal {
    margin-top: -10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
}

.input-modal {
    width: 100%;
    max-width: 780.66px;
    height: 41px;
    outline: none;
    border-bottom: 1px solid #95B4BE;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-modal[placeholder] {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
}

.input-modal::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
}

.btnd-mdl {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    max-width: 362px;
    height: 71px;
    background: #10EBF8;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-top: 36px;
}

.btnd-mdl:hover {
    color: #10EBF8;
    background: transparent;
    border: #10EBF8 2px solid;
    transition: .5s;
}

.div-flex-checkbox {
    display: flex;
    margin: 0 auto;
    width: 693px;
    margin-top: 40px;
}

.span-blue {
    color: #10EBF8;
}

.p-prinyatie {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #5B5B5B;
}

.chek {
    width: 19px;
    height: 19px;
    border: 1px solid rgba(4, 73, 136, 0.46);
    border-radius: 4px;
}

.div-top-fast {
    margin-top: 41px;
}

.modal,
.modal-dialog,
.modal-content,
.modal-header,
.btn-close,
.modal-xl,
.modal-body {
    z-index: 9999999999999999999999999 !important;
}

@media(max-width: 1190px) {
    .img-line-ladt {
        background: url(./img/line-end.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 70px;
        background-color: #1C3F7A;
        position: absolute;
        margin-top: 70px;
        padding-top: 70px;
        display: block !important;
    }

    .img-line-end {
        display: none;
    }
}

.img-line-ladt {
    display: none;
}

.img-line-end {
    width: 100%;
    height: 70px;
    position: absolute;
    background: #1C3F7A;
    margin-top: 80px;
}

.katalog-begin {
    background: rgba(232, 242, 255, 0.38);
    min-height: 830px;
    width: 100%;
    padding-bottom: 30px;
}

.card-body {
    width: 100%;
    max-width: 270px;
    height: 470px;
    background: rgba(232, 242, 255, 0.38);
    border: 1px solid #CCDDF0;
    border-radius: 10px;
}

.develare-catalog-img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.prodact-p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #191919;
    max-width: 229px;
    width: 100%;
    text-align: center;
    margin-top: 250px !important;
}

.div-back-img {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #CCDDF0;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    max-width: 270px;
}

.mar-top-con-katal {
    margin-top: 31px;
}

.span-upokopva {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7995A5;
    margin-left: 5px;
}

.h3-mopney-300 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #191919;
}

.div-flex-catalog {
    display: flex;
    justify-content: space-around;
}

.BUTTON-KATALOG {
    background: #10EBF8;
    border-radius: 2px;
    max-width: 141px;
    height: 46px;
    width: 100%;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #191919;
    border: none;
    outline: none;
}

.topbutton {
    width: 50px;
    height: 50px;
    background: #2236e9;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    border-radius: 100px;
    box-shadow: 0px 0px 30px 10px #1476ff;
}

.img-aarrow-bottn {
    transform: rotate(180deg);
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
}

.p-to-buy {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #044988;
    margin-top: 20px;
}

.mar-top-katal-and-main {
    padding-top: 130px;
}

.stats-katalog {
    margin-top: 10px;
}

.h2-proccer {
    margin-top: 0;
}

.div-with-container-flex {
    margin-top: 10px;
    width: 270px;
}

.hsciba {
    margin-left: 15px;
}
@media (max-width: 606px){
    .div-with-container-flex{
        margin: 0 auto;
        margin-top: 10px;
    }
}
@media (max-width: 302px){
    .develare-catalog-img {
        max-width: 302px;
    }
    .div-back-img {
        max-width: 250px;
    }
    .card-body {
        max-width: 250px;
    }
    .p-to-buy {
        margin-top: 10px;
    }
    
}